@{
    var tconfig = ViewBag.tabsconfig;
}
<div id="RESOURCE_GENERAL_TAB" tabset="RESOURCE_TABSET" class="tabSelected tab" style="cursor:default">
    <button type="button" class="button  textual  focused " disabled="" id="domId_412633584" style="">资源信息</button>
</div>

<div id="RESOURCE_JOB_SETTINGS_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_2046438940" style="">工作设置</button>
</div>

<div id="RESOURCE_ASSIG_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_1584082063" style="">分工</button>
</div>

<div id="DOCUMENTS_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_1727186137" style="">文档</button>
</div>

<div id="TASK_SUBSCRIPTIONS_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_370483245" style="">订阅</button>
</div>