
@{
    ViewBag.Title = "ResourceList";
    Layout = "~/Areas/app/Views/Shared/_LayoutMain.cshtml";
}

<div id="__FEEDBACKMESSAGEPLACE" style="display:none;"></div>
<div id="twInnerContainer" class="null">
    <form enctype="application/x-www-form-urlencoded" method="POST"
          action="/app/resource/resourceList" name="d523156627" id="d523156627"
          savedAction="" savedTarget=""
          onkeyup="if (event.keyCode==13&& event.ctrlKey==false ) { dataTableRefresh('RESLST');;return false; event.preventDefault()}">
        <input type="hidden" id="d523156627V_ID" name="V_ID" value="523156627" savedValue="">
        <input type="hidden" id="d523156627CM" name="CM" value="FN" savedValue="">



        <script>
            $("#RESOURCE_MENU").addClass('selected');

            //chiamata ogni volta che si rinfresca la tabella
            function dataTableCallback(totalNumberOfElements) {
                if (totalNumberOfElements > 0) {
                    $("#btn_print_2,#btn_print,#btn_excel").removeAttr("disabled").show();
                } else {
                    $("#btn_print_2,#btn_print,#btn_excel").attr("disabled", true).hide();
                }
            }


            //per spengere i recently viewed la prima volta se sono selezionati
            $(function () {
                $(".filterActiveElements #RECENTLY_USED").nextAll(".close").oneTime(2500, "hideRecently", function () { $(this).click() })
            });

        </script>
        <div class="mainColumn">



            <h1 class="filterTitle" defaultTitle="资源列表">
                最近浏览过的
            </h1>



            <div class="filterBar withButtons clearfix">
                <div class="filterActiveElements"></div>

                <div class="filterInactiveElements">
                    <div class="filterElement filterDefault"><label for="NAME_SURNAME" class=" ">姓/名/电子邮件</label><br><input type=text name="NAME_SURNAME" id="NAME_SURNAME" size=22 class="formElements qbe" autocomplete='off' maxlength=255 value="" oldValue='1'></div>
                    <div class="filterElement">
                        <label for="RESOURCE_TYPE" class=" labelLSF">类型</label><br><SELECT NAME="RESOURCE_TYPE" id="RESOURCE_TYPE" CLASS="fieldLSF formElements" oldValue='1'>
                            <option value="">- 选择 -</option>
                            <option value="PERSON">人员</option>
                            <option value="COMPANY">组织</option>
                        </SELECT>
                    </div>
                    <div class="filterElement"><label for="PHONE" class=" ">电话号码</label><br><input type=text name="PHONE" id="PHONE" size=14 class="formElements qbe" autocomplete='off' maxlength=255 value="" oldValue='1'></div>
                    <div class="filterElement" data-person><label for="FLD_LOGIN_NAME" class=" ">登录名</label><br><input type=text name="FLD_LOGIN_NAME" id="FLD_LOGIN_NAME" size=20 class="formElements qbe" autocomplete='off' maxlength=255 value="" oldValue='1'></div>
                    <div class="filterElement" data-person>
                        <label for="BY_LOGIN" class=" labelLSF">是否登录</label><br><SELECT NAME="BY_LOGIN" id="BY_LOGIN" CLASS="fieldLSF formElements" oldValue='1'>
                            <option value="">- 选择 -</option>
                            <option value="HAVING_LOGIN">已登录</option>
                            <option value="WITHOUT_LOGIN">未登录</option>
                        </SELECT>
                    </div>
                    <div class="filterElement" data-person>
                        <label for="BY_ENABLED" class=" labelLSF">是否激活</label><br><SELECT NAME="BY_ENABLED" id="BY_ENABLED" CLASS="fieldLSF formElements" oldValue='1'>
                            <option value="">- 选择 -</option>
                            <option value="IS_ENABLED">激活</option>
                            <option value="IS_DISABLED">未激活</option>
                        </SELECT>
                    </div>

                    <div class="filterElement" data-company>
                        <label for="COMPANY_TYPE_txt" class=" ">公司类型</label><br><input type=text name="COMPANY_TYPE_txt" id="COMPANY_TYPE_txt" size=20 class="formElements smartCombo" autocomplete='off' maxlength=255 autocomplete="off" onfocus="createDropDown($(this),400,100); refreshDropDown ($(this).nextAll('.cbDropDown'),$(this)); setSelection(this,0,1024)" onblur="finalizeOperation($(this).nextAll('.cbDropDown:first'),false,false );" onKeyDown="manageKeyEvent ($(this),event,false,false);" onKeyPress="stopKeyEvent(event);" value=""><span class="teamworkIcon menuArrow" style='cursor:pointer; margin-left: -15px' onClick="if ( $(this).prevAll('.cbDropDown:first').size()<=0) {$(this).prevAll('input:text:first').focus();} " style="">&ugrave;</span><input type=hidden name="COMPANY_TYPE" id="COMPANY_TYPE" size=10 class="formElements" autocomplete='off' maxlength=255 jspPart='partSmartCombo' value="" oldValue='1'>
                    </div>
                    <div class="filterElement"><label for="ANAGRAPHICAL_DATA" class=" ">人员详细介绍</label><br><input type=text name="ANAGRAPHICAL_DATA" id="ANAGRAPHICAL_DATA" size=22 class="formElements qbe" autocomplete='off' maxlength=255 value="" oldValue='1'></div>
                    <div class="filterElement"><label for="JOB_DESCRIPTION" class=" ">职务描述</label><br><input type=text name="JOB_DESCRIPTION" id="JOB_DESCRIPTION" size=22 class="formElements qbe" autocomplete='off' maxlength=255 value="" oldValue='1'></div>
                    <div class="filterElement"><label for="RESOURCE_TAGS" class=" ">标签</label><br><input type=text name="RESOURCE_TAGS" id="RESOURCE_TAGS" size=25 class="formElements tagBox" autocomplete='off' maxlength=255 autocomplete='off' taggableClass="com.twproject.resource.Resource" maxResult="30" tagPropertyName="tags" areaId="5819" value=""></div>
                    <div class="filterElement">
                        <label for="AREA" class=" ">域</label><br><SELECT NAME="AREA" id="AREA" CLASS="formElements" oldValue='1'>
                            <option value="">- 选择 -</option>
                            <option value="5819">梦想飞扬</option>
                        </SELECT>
                    </div>
                    <div class="filterElement">
                        <label for="LAST_MODIFIED" class=" ">最后编辑</label><br><input type=text name="LAST_MODIFIED" id="LAST_MODIFIED" size=8 class="formElements dateField qbe" autocomplete='off' maxlength=255 format="yyyy-M-d" value="" entryType="DATE" maxValue="3020-11-19" minValue="1020-10-29"><span title="日历" id="LAST_MODIFIEDs_inputDate" class="teamworkIcon openCalendar"
                                                                                                                                                                                                                                                                                                               onclick="var inp=$(this).prevAll(':input:first');$(this).dateField({inputField:inp,dateFormat:inp.attr('format'),isSearchField:true,minDate:inp.attr('minValue'),maxDate:inp.attr('maxValue'),disableHolidays:false});">m</span>

                    </div>
                    <div class="filterElement" data-company>
                        <label for="ROOT_OR_STANDALONE" class=" ">公司/部门</label><br><SELECT NAME="ROOT_OR_STANDALONE" id="ROOT_OR_STANDALONE" CLASS="formElements" oldValue='1'>
                            <option value="">全部</option>
                            <option value="yes">组织</option>
                            <option value="no">部 / 人员</option>
                        </SELECT>
                    </div>
                    <div class="filterElement">
                        <label for="COMPANY_txt" class=" ">组织</label><br><input type=text name="COMPANY_txt" id="COMPANY_txt" size=20 class="formElements smartCombo" autocomplete='off' maxlength=255 autocomplete="off" onfocus="createDropDown($(this),400,100); refreshDropDown ($(this).nextAll('.cbDropDown'),$(this)); setSelection(this,0,1024)" onblur="finalizeOperation($(this).nextAll('.cbDropDown:first'),false,false );" onKeyDown="manageKeyEvent ($(this),event,false,false);" onKeyPress="stopKeyEvent(event);" value=""><span class="teamworkIcon menuArrow" style='cursor:pointer; margin-left: -15px' onClick="if ( $(this).prevAll('.cbDropDown:first').size()<=0) {$(this).prevAll('input:text:first').focus();} " style="">&ugrave;</span><input type=hidden name="COMPANY" id="COMPANY" size=10 class="formElements" autocomplete='off' maxlength=255 jspPart='partSmartCombo' value="" oldValue='1'>
                    </div>
                    <div class="filterElement">
                        <label for="ALL_STAFF_OF_txt" class=" ">所有成员</label><br><input type=text name="ALL_STAFF_OF_txt" id="ALL_STAFF_OF_txt" size=20 class="formElements smartCombo" autocomplete='off' maxlength=255 autocomplete="off" onfocus="createDropDown($(this),400,100); refreshDropDown ($(this).nextAll('.cbDropDown'),$(this)); setSelection(this,0,1024)" onblur="finalizeOperation($(this).nextAll('.cbDropDown:first'),false,false );" onKeyDown="manageKeyEvent ($(this),event,false,false);" onKeyPress="stopKeyEvent(event);" value=""><span class="teamworkIcon menuArrow" style='cursor:pointer; margin-left: -15px' onClick="if ( $(this).prevAll('.cbDropDown:first').size()<=0) {$(this).prevAll('input:text:first').focus();} " style="">&ugrave;</span><input type=hidden name="ALL_STAFF_OF" id="ALL_STAFF_OF" size=10 class="formElements" autocomplete='off' maxlength=255 jspPart='partSmartCombo' value="" oldValue='1'>
                    </div>
                    <div class="filterElement"><label for="NOTES" class=" ">注释</label><br><input type=text name="NOTES" id="NOTES" size=25 class="formElements qbe" autocomplete='off' maxlength=255 value="" onkeyup="if (event.keyCode==13) { obj('d523156627').submit();event.preventDefault();return false;}" oldValue='1'></div>
                    <div class="filterElement">
                        <label for="ck_RECENTLY_USED">最近浏览过的</label><br><input type=hidden name="RECENTLY_USED" id="RECENTLY_USED" size=1 autocomplete='off' maxlength=255 data-checkfield value="yes"><input type="checkbox" id="ck_RECENTLY_USED" name="ck_RECENTLY_USED" checked value="yes"
                                                                                                                                                                                                              onClick="$(this).prevAll('[type=hidden]:first').val(this.checked ? 'yes' : 'no');">
                    </div>
                    <div class="filterElement">
                        <label for="GLOBAL_ROLE_txt" class=" ">角色</label><br><input type=text name="GLOBAL_ROLE_txt" id="GLOBAL_ROLE_txt" size=20 class="formElements smartCombo" autocomplete='off' maxlength=255 autocomplete="off" onfocus="createDropDown($(this),400,100); refreshDropDown ($(this).nextAll('.cbDropDown'),$(this)); setSelection(this,0,1024)" onblur="finalizeOperation($(this).nextAll('.cbDropDown:first'),false,false );" onKeyDown="manageKeyEvent ($(this),event,false,false);" onKeyPress="stopKeyEvent(event);" value=""><span class="teamworkIcon menuArrow" style='cursor:pointer; margin-left: -15px' onClick="if ( $(this).prevAll('.cbDropDown:first').size()<=0) {$(this).prevAll('input:text:first').focus();} " style="">&ugrave;</span><input type=hidden name="GLOBAL_ROLE" id="GLOBAL_ROLE" size=10 class="formElements" autocomplete='off' maxlength=255 jspPart='partSmartCombo' value="" oldValue='1'>
                    </div>

                    <div class="filterElement" data-person>
                        <label for="BY_HIDDEN" class=" labelLSF">隐藏</label><br><SELECT NAME="BY_HIDDEN" id="BY_HIDDEN" CLASS="fieldLSF formElements" oldValue='1'>
                            <option value="">- 选择 -</option>
                            <option value="IS_HIDDEN">隐藏</option>
                            <option value="IS_NOT_HIDDEN">未隐藏</option>
                        </SELECT>
                    </div>


                </div>

                <div class="filterButtons">
                    <div class="filterButtonsElement filterAdd"><span class="button" id="filterSelectorOpener" title="更多的过滤器" onclick="bjs_showMenuDiv('filterSelectorBox', 'filterSelectorOpener');"><span class="teamworkIcon">f</span></span></div>
                    <div class="filterButtonsElement filterSearch">
                        <button type="button" class="button noprint    " id="domId_1055275109" style="" onclick="dataTableSearchClick('RESLST');return false; " data-dtid="RESLST">搜索</button>

                    </div>

                    <div class="filterActions">
                        <div class="filterButtonsElement filterSave">
                            <span onclick="lsfOpenEditor($(this))" lsfId="domId_1829079879" title="保存这个搜索" class="button textual">保存这个搜索</span>
                        </div>
                        <div class="filterButtonsElement filterHelp">
                            <button type="button" class="button noprint textual   " id="domId_1547044350" style="" title="如何使用示例查询（QBE）组成强大的搜索.<br>您可以保存您的搜索条件以便将来使用." onclick="openBlackPopup('/commons/help/qbe.jsp?V_ID=2088800037','800px','700px');return false; ">Help</button>

                        </div>
                    </div>

                </div>
            </div>
            <script src="/commons/js/filterEngine.js"></script>
            <div class="paginator unselectable" dataTableId="RESLST">


                <span class="paginatorPages"></span>


                <div class="datatableInfo">



                    <div class="paginatorSearching">搜索...</div>
                    <div class="paginatorNotFound">没有找到结果。</div>
                    <span class="paginatorFoundN"><span class="totalNumberOfElements"></span>&nbsp;个结果</span>
                    <span class="paginatorFound1">1 &nbsp;我打。.</span>


                    &nbsp;&nbsp;
                    <div class="pagSize">
                        <span class="ruzzol teamworkIcon" style="cursor:pointer;" onclick="$(this).toggle();$(this).next().toggle().find(':input').focus();" title="改变页面大小">g</span>
                        <span class="pagSizeInp">
                            <label for="_FP_PG_S" class=" ">每页的结果</label>&nbsp;<input type=text name="_FP_PG_S" id="_FP_PG_S" size=3 class="formElements formElementsSmall validated integer" autocomplete='off' maxlength=255 value="20" onkeyup="if (event.keyCode==13) { event.stopPropagation(); dataTableChangePageSize($('#RESLST'));event.preventDefault();return false;}" entryType="INTEGER">
                        </span>
                    </div>

                </div>

            </div>
            <input type=hidden name="_FP_PG_N" id="RESLST_PGtf" size=20 class="formElements" autocomplete='off' maxlength=255 value="">
            <table class="table dataTable fixHead fixFoot" id="RESLST" formId="d523156627" bindReturnKey data-table="1">


                <thead class="dataTableHead">
                    <tr>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl"></span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl" orderState="0" orderingHql="resource.name" onclick="dataTableChangeOrder($(this),'RESLST')">名称</span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl" orderState="0" orderingHql="resource.code" onclick="dataTableChangeOrder($(this),'RESLST')">代码</span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl"></span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl">积分</span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl">描述</span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl">电话号码</span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl">手机</span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl">电子邮件</span></th>
                        <th class="tableHead" nowrap style=""><span class="tableHeadEl"></span></th>
                    </tr>
                    <tr style="display: none;">
                        <td colspan="99">
                            <input type=hidden name="OB_RESLST" id="OB_RESLST" size="0" class="formElements" autocomplete='off' maxlength=255 value="">
                        </td>
                    </tr>
                </thead>



                <tbody noData class="dataTableBody" totalNumberOfElements="0" pageNumber="0" pageSize="0"></tbody>

            </table>

            <div class="paginator unselectable" dataTableId="RESLST">


                <span class="paginatorPages"></span>


                <div class="datatableInfo">



                </div>

            </div>
        </div>

        <div class="rightColumn noprint">
            <div class="tools">

                <div class="toolsElement">
                    <span class="menuArrow" onclick="bjs_showMenuDiv('divdomo_domId_1081483532', 'domId_470141835');  ">
                        <button type="button" class="button noprint    menuArrow square first" id="domId_470141835" style="" title="添加" onclick=";return false; "><span class='teamworkIcon withLabel'>P</span>添加...</button>


                    </span>

                    <div id="divdomo_domId_1081483532" class="divomo "
                         style=" position: absolute;left:-10000px; top:-10000px;">

                        <div class="divomoArrow"></div>

                        <div>
                            <a class="button  textual   " id="domId_192134116" style="" href="/app/resource/resourceEditor?V_ID=1341829148&CM=AD&RESOURCE_TYPE=com.twproject.resource.Person">+ 添加新员工</a>

                            <a class="button  textual   " id="domId_1530166171" style="" href="/app/resource/resourceEditor?V_ID=416502866&CM=AD&RESOURCE_TYPE=com.twproject.resource.Company">+ 新公司/部门</a>

                        </div>
                    </div>
                </div><div class="toolsElement">
                    <span class="menuArrow" onclick="bjs_showMenuDiv('divdomo_domId_1608313979', 'domId_1514463289');  ">
                        <button type="button" class="button noprint  icon  square toolsElement" id="domId_1514463289" style="" title="RESORCES_IMPORT_EXPORT" onclick=";return false; "><span class='teamworkIcon '>I</span></button>


                    </span>

                    <div id="divdomo_domId_1608313979" class="divomo "
                         style=" position: absolute;left:-10000px; top:-10000px;">

                        <div class="divomoArrow"></div>

                        <div>
                            <a class="button  textual   " id="domId_556380264" style="" href="/applications/teamwork/resource/resourceImport.jsp?V_ID=1380139736&CM=AD">导入联系人</a>

                            <button type="button" class="button noprint textual   lreq20 lreqLabel" id="btn_excel" style="" onClick="stopBubble(event);saveFormValues('d523156627');  obj('d523156627CM').value='FN';obj('d523156627BUTTON_ID').value='btn_excel';obj('d523156627').action='/commons/tools/exportXLS.jsp'; try {obj('d523156627').submit();} catch(e){};restoreFormValues('d523156627');  ">导出到Excel</button>

                        </div>
                    </div>
                </div><div class="toolsElement">
                    <span class="menuArrow" onclick="bjs_showMenuDiv('divdomo_domId_2124278951', 'btn_print');  ">
                        <button type="button" class="button noprint  icon  " id="btn_print" style="" title="打印" onclick=";return false; "><span class='teamworkIcon '>p</span></button>


                    </span>

                    <div id="divdomo_domId_2124278951" class="divomo "
                         style=" position: absolute;left:-10000px; top:-10000px;">

                        <div class="divomoArrow"></div>

                        <div>
                            <button type="button" class="button noprint textual   " id="btn_print_2" style="" onclick="submitInBlack('d523156627','/applications/teamwork/resource/resourceListPrint.jsp');return false; ">打印</button>

                            <hr><button type="button" class="button noprint textual   lreq30 lreqLabel" id="domId_1317750561" style="" onClick="stopBubble(event);saveFormValues('d523156627');  obj('d523156627CM').value='FN';obj('d523156627reportName').value='resourcePhoneDirectory';obj('d523156627').target='_blank'; obj('d523156627').action='/applications/teamwork/resource/resourceIReportHelper.jsp'; try {obj('d523156627').submit();} catch(e){};restoreFormValues('d523156627');  ">resource  phone  directory</button>

                        </div>
                    </div>
                </div>
            </div><div class="rightColumnInner">
                <div class="noprint filters">
                    <h2>我的过滤器...</h2><div class="customSavedFilters" formId="d523156627" category="RESOURCE" id="domId_1829079879">
                        <input type="hidden" name="FLNMSEL" id="FLNMSEL">
                        <input type="hidden" name="FLCAT" id="FLCAT" value="RESOURCE">
                        <input type="hidden" name="FLNM" id="FLNM" value="">
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $("#d523156627").append($("#domId_1829079879 input")); //sposta gli input dentro il form
                            var bts = [];
                            var div = $("#domId_1829079879");
                            for (var i = 0; i < bts.length; i++) {
                                div.append(lsfCreateButton(bts[i]));
                            }
                        });
                    </script>



                    <div class="separator"></div><a class="button  textual   " id="domId_466198914" style="" href="/app/resource/resourceList?V_ID=2109486455&CM=FN&FLNM=PF_RES_MY_DEPARTMENT">我的同事</a>

                    <a class="button  textual   " id="domId_1331320862" style="" href="/app/resource/resourceList?V_ID=1065867991&CM=FN&FLNM=PF_RES_TEAMWORK_USERS">所有人员</a>

                    <a class="button  textual   " id="domId_1882225110" style="" href="/app/resource/resourceList?V_ID=1625490021&CM=FN&FLNM=PF_RES_COMPANIES">组织</a>

                    <a class="button  textual   " id="domId_1471309460" style="" href="/app/resource/resourceList?V_ID=91303116&CM=FN&FLNM=PF_RES_PEOPLE">人员</a>

                    <a class="button  textual   " id="domId_1228146654" style="" href="/app/resource/resourceList?V_ID=821606828&CM=FN&FLNM=PF_LAST_MODIFIED">最近修改过的</a>

                    <a class="button  textual  focused " id="domId_426107986" style="" href="/app/resource/resourceList?V_ID=2122957767&CM=FN&FLNM=PF_RECENTLY_USED">最近浏览过的</a>

                </div>


                <div class="separator"></div>
                <a class="button  textual   " id="domId_110395064" style="" href="/applications/teamwork/resource/resourceBulkSecurity.jsp?V_ID=1160679002">运营商的角色管理</a>








                <div class="noprint recent">
                    <h2>最近访问的资源</h2>
                    <a class="button  textual   " id="domId_284971028" style="" href="/app/resource/resourceEditor?V_ID=1520427646&CM=ED&OBJID=15163">R#15163#  第一个员工 </a>

                    <a class="button  textual   " id="domId_919530669" style="" href="/app/resource/resourceEditor?V_ID=708811171&CM=ED&OBJID=15189">R#15189#  Fei Zhang</a>

                    <a class="button  textual   " id="domId_897561088" style="" href="/app/resource/resourceEditor?V_ID=513020512&CM=ED&OBJID=15090">R#15090#  梦想飞扬部门</a>

                    <a class="button  textual   " id="domId_188902479" style="" href="/app/resource/resourceEditor?V_ID=563544613&CM=ED&OBJID=15089">R#15089#  Wing Dream</a>

                    <a class="button  textual   " id="domId_1091427421" style="" href="/app/resource/resourceEditor?V_ID=1883644473&CM=ED&OBJID=15162">R#15162#  梦工厂</a>


                </div>
            </div>
        </div>


        <script>

            function delRow(el) {
                var resRow = $(el).closest("[resId]");
                var resId = resRow.attr("resId");
                deletePreview("RES_DEL", resId, function (response) {  // callback function
                    if (response && response.ok) {
                        resRow.fadeOut(500, function () { $(this).remove(); });
                    }
                });

            }

        </script>




        <input type="hidden" id="d523156627BUTTON_ID" name="BUTTON_ID" value="" savedValue="">
        <input type="hidden" id="d523156627outType" name="outType" value="" savedValue="">
        <input type="hidden" id="d523156627reportName" name="reportName" value="" savedValue="">

    </form>

</div>

