@{
    var tconfig = ViewBag.tabsconfig;
}
<div id="RESOURCE_GENERAL_TAB" tabset="RESOURCE_TABSET" class="tabSelected tab" style="cursor:default">
    <button type="button" class="button  textual  focused " disabled="" id="domId_672611643" style="">资源信息</button>
</div>

<div id="RESOURCE_JOB_SETTINGS_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_1717044098" style="">工作设置</button>
</div>

<div id="RESOURCE_SECURITY_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="hintFirstSecurity" style="">安全性/登录</button>
</div>

<div id="GENERAL_OPTIONS_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="hintFirstOption" style="">选项</button>
</div>

<div id="RESOURCE_ASSIG_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_1261710690" style="">分工</button>
</div>

<div id="DOCUMENTS_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_943149259" style="">文档</button>
</div>

<div id="TASK_SUBSCRIPTIONS_TAB" tabset="RESOURCE_TABSET" class="tabDisabled tab" style="cursor:default">
    <button type="button" class="button  textual   " disabled="" id="domId_897060242" style="">订阅</button>
</div>
