[class^="editIt-icon-"],[class*=" editIt-icon-"]{font-family:'editIt' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.editIt-icon-image-block:before{content:"\e907"}
.editIt-icon-image-left:before{content:"\e908"}
.editIt-icon-image-right:before{content:"\e909"}
.editIt-icon-resize:before{content:"\e906"}
.editIt-icon-H3:before{content:"\e900"}
.editIt-icon-H4:before{content:"\e901"}
.editIt-icon-H5:before{content:"\e902"}
.editIt-icon-H6:before{content:"\e903"}
.editIt-icon-H2:before{content:"\e904"}
.editIt-icon-H1:before{content:"\e905"}
.editIt-icon-star:before{content:"\f005"}
.editIt-icon-star-o:before{content:"\f006"}
.editIt-icon-film:before{content:"\f008"}
.editIt-icon-check:before{content:"\f00c"}
.editIt-icon-close:before{content:"\f00d"}
.editIt-icon-cog:before{content:"\f013"}
.editIt-icon-trash-o:before{content:"\f014"}
.editIt-icon-volume-up:before{content:"\f028"}
.editIt-icon-book:before{content:"\f02d"}
.editIt-icon-print:before{content:"\f02f"}
.editIt-icon-camera:before{content:"\f030"}
.editIt-icon-font:before{content:"\f031"}
.editIt-icon-bold:before{content:"\f032"}
.editIt-icon-italic:before{content:"\f033"}
.editIt-icon-align-left:before{content:"\f036"}
.editIt-icon-align-center:before{content:"\f037"}
.editIt-icon-align-right:before{content:"\f038"}
.editIt-icon-align-justify:before{content:"\f039"}
.editIt-icon-list:before{content:"\f03a"}
.editIt-icon-dedent:before{content:"\f03b"}
.editIt-icon-indent:before{content:"\f03c"}
.editIt-icon-video-camera:before{content:"\f03d"}
.editIt-icon-image:before{content:"\f03e"}
.editIt-icon-pencil:before{content:"\f040"}
.editIt-icon-map-marker:before{content:"\f041"}
.editIt-icon-tint:before{content:"\f043"}
.editIt-icon-check-square-o:before{content:"\f046"}
.editIt-icon-chevron-left:before{content:"\f053"}
.editIt-icon-chevron-right:before{content:"\f054"}
.editIt-icon-plus-circle:before{content:"\f055"}
.editIt-icon-minus-circle:before{content:"\f056"}
.editIt-icon-crosshairs:before{content:"\f05b"}
.editIt-icon-times-circle-o:before{content:"\f05c"}
.editIt-icon-check-circle-o:before{content:"\f05d"}
.editIt-icon-arrow-left:before{content:"\f060"}
.editIt-icon-arrow-right:before{content:"\f061"}
.editIt-icon-arrow-up:before{content:"\f062"}
.editIt-icon-arrow-down:before{content:"\f063"}
.editIt-icon-mail-forward:before{content:"\f064"}
.editIt-icon-expand:before{content:"\f065"}
.editIt-icon-compress:before{content:"\f066"}
.editIt-icon-plus:before{content:"\f067"}
.editIt-icon-minus:before{content:"\f068"}
.editIt-icon-eye:before{content:"\f06e"}
.editIt-icon-eye-slash:before{content:"\f070"}
.editIt-icon-exclamation-triangle:before{content:"\f071"}
.editIt-icon-folder:before{content:"\f07b"}
.editIt-icon-folder-open:before{content:"\f07c"}
.editIt-icon-square-o:before{content:"\f096"}
.editIt-icon-wrench:before{content:"\f0ad"}
.editIt-icon-chain:before{content:"\f0c1"}
.editIt-icon-cut:before{content:"\f0c4"}
.editIt-icon-copy:before{content:"\f0c5"}
.editIt-icon-paperclip:before{content:"\f0c6"}
.editIt-icon-square:before{content:"\f0c8"}
.editIt-icon-list-ul:before{content:"\f0ca"}
.editIt-icon-list-ol:before{content:"\f0cb"}
.editIt-icon-strikethrough:before{content:"\f0cc"}
.editIt-icon-underline:before{content:"\f0cd"}
.editIt-icon-table:before{content:"\f0ce"}
.editIt-icon-caret-left:before{content:"\f0d9"}
.editIt-icon-caret-right:before{content:"\f0da"}
.editIt-icon-sort-desc:before{content:"\f0dd"}
.editIt-icon-sort-asc:before{content:"\f0de"}
.editIt-icon-clipboard:before{content:"\f0ea"}
.editIt-icon-quote-left:before{content:"\f10d"}
.editIt-icon-quote-right:before{content:"\f10e"}
.editIt-icon-mail-reply:before{content:"\f112"}
.editIt-icon-code:before{content:"\f121"}
.editIt-icon-chain-broken:before{content:"\f127"}
.editIt-icon-superscript:before{content:"\f12b"}
.editIt-icon-subscript:before{content:"\f12c"}
.editIt-icon-eraser:before{content:"\f12d"}
.editIt-icon-check-square:before{content:"\f14a"}
.editIt-icon-file-text:before{content:"\f15c"}
.editIt-icon-youtube:before{content:"\f167"}
.editIt-icon-dropbox:before{content:"\f16b"}
.editIt-icon-bug:before{content:"\f188"}
.editIt-icon-paragraph:before{content:"\f1dd"}
.editIt-icon-plug:before{content:"\f1e6"}
.editIt-icon-trash:before{content:"\f1f8"}
.editIt-icon-toggle-off:before{content:"\f204"}
.editIt-icon-toggle-on:before{content:"\f205"}
.editIt-icon-i-cursor:before{content:"\f246"}
.editIt-icon-font-size:before{content:"\ea61"}
